@font-face {
    font-family: 'GoT';
    src: url('http://got-therealgame.com/fonts/got.ttf') format('truetype');
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    z-index: -1;
}
