<div class="p-5" ng-controller="guacamoleController">
    <h1 style="font-family: GoT">Actividades</h1>
    <h4>Team Util Shortcuts</h4>
    <div class="social-icons">
        <div class="row" >
            <ul class="list-group-horizontal-lg row">
                <li class="list-group-item p-3" ng-repeat="shortcut in activities_shortcuts" style="border: 0px;">
                    <a href="{{shortcut.link}}" target="_blank">
                        <i class="{{shortcut.icon}}"></i>
                    </a>
                    {{shortcut.title}}
                </li>
            </ul>
        </div>
    </div>

</div>