<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="init">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white" style="font-family: GoT">
                Game Of Thrones
            </h1>
            <h2  class="mb-0 text-white-50" style="font-family: GoT;}">
                The Real Game
            </h2>
            <span class="text-primary" ></span>
            <br>
            <div class="subheading mb-5">
                Semana i 2019 |
                <a href ng-click="showSite('views/activities.html')">
                    <h6 class="mb-0 text-white d-inline" style="font-family: GoT">Actividades</h6>
                </a>
            </div>
            <p class="lead mb-5">
                En esta Semana i sobre "Game of Thrones" nos dedicaremos a analizar esta para comprender mejor las acciones de los personajes.

                A pesar de que la serie de televisión concluyó y los directores tuvieron como su favorito a Brian "the Broken", aquí nos dedicaremos a crear un final alternativo. Para ello, tendrás que crear la estrategia que tu personaje favorito debió haber seguido para ganar el Trono de los Siete Reinos. Mientras tanto, te dotaremos de herramientas para reforzando tus habilidades de resolución de conflictos, comunicación y liderazgo necesarias para conseguir aliados, sortear obstáculos y sobrevivir en un entorno más que difícil. Si lo consigues, todo lo demás será facilísimo.
            </p>
            <hr>
        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="teams">
    <div class="w-100">
        <h2 style="font-family: GoT">Thinking House...</h2>

    </div>

</section>